.about {
    .about-title {
        width: 100%;
        text-align: center;
        font-size: 44px;
        font-style: oblique;
        color: #000000a6;
        padding: 40px 0;
    }
    .center{
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
}