.server {
  width: 100%;

  .server-title {
    width: 100%;
    height: 200px;
    padding-top: 81px;

    p {
      width: 200px;
      margin: 0 auto;
      font-size: 44px;
    }
  }

  ul {
    display: flex;
    width: 100%;
    margin: 0 auto;

    li {
      width: 360px;
      height: 150px;
      border: 1px solid gainsboro;

      .server-tip1 {
        color: #999999;
        padding: 10px;
      }
    }

    .server-tip2 {
      font-size: 18px;
      padding: 10px;
      text-align: center;
    }

    .server-tip3 {
      color: #999999;
      text-align: center;
    }

    .server-tip4 {
      text-align: center;
    }
  }

  .server-main {
    width: 100%;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #eeeeee;

    h3 {
      line-height: 60px;
      color: #000000d9;
    }

    p {
      font-size: 14px;
      line-height: 30px;
      color: #000000a9;
    }
  }

  .sever-input {
    width: 100%;
    margin: 30px auto;
    border-top: 2px solid;
    .app1 {
      width: 100%;
    }
    .app1-list,
    .server-name {
      display: flex;
      width: 100%;
      padding: 40px 0;
      border-bottom: 1px solid gainsboro;
      div {
        margin-left: 20px;
        .ipt1 {
          margin-right: 20px;
        }
      }
      .ipt2 {
        margin-left: 45px;
      }
    }
    #sever-item {
      width: 100%;
      margin-left: 90px;
      padding: 20px;
      margin-top: 20px;
      border-bottom: 1px solid gainsboro;
    }
  }
}
.offers-tain {
  width: 600px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 10px;

  .mask {
    display: inline-block;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    background-color: grey;
    margin-left: 230px;
  }
}
.ofers-time {
  width: 800px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  .offers-out {
    width: 100px;
    height: 40px;
    margin: 0 auto;
  }

  .offers-all {
    margin: 0 auto;

    div {
      button {
        width: 100px;
        height: 40px;
        color: #f2f2f2;
        background-color: #000;
      }
    }
  }
}
.option {
  float: right;
  width: 300px;
  margin-top: -57px;
  overflow: hidden;
}
