.partner {
    width: 100%;
    .partner-title {
        width: 100%;
        height: 200px;
        padding-top: 81px;
       p { 
          width: 200px;
          margin: 0 auto;
          font-size: 44px;
        }
    }
    .partner-context{
        width: 100%;
        text-align: center;
    }
}